<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_sports_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.E_Sports_App">
        <activity
            android:name=".adminpages.ManageTeams"
            android:exported="false" />
        <activity
            android:name=".userpages.FaqActivity"
            android:exported="false" />
        <activity
            android:name=".userpages.GamesActivity"
            android:exported="false" />
        <activity
            android:name=".userpages.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".adminpages.ManageFeedBack"
            android:exported="false" />
        <activity
            android:name=".adminpages.ManageGames"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".adminpages.CreateUser"
            android:exported="false" />
        <activity
            android:name=".adminpages.CreateFaq"
            android:exported="false" />
        <activity
            android:name=".adminpages.ManageFaq"
            android:exported="false" />
        <activity
            android:name=".adminpages.CreateNotice"
            android:exported="false" />
        <activity
            android:name=".adminpages.ManageNotices"
            android:exported="false" />
        <activity
            android:name=".adminpages.ManageUsers"
            android:exported="false" />
        <activity
            android:name=".userpages.NoticeBoard"
            android:exported="false" />
        <activity
            android:name=".dashboards.AdminDashboard"
            android:exported="false"></activity>
        <activity
            android:name=".dashboards.UserDashBoard"
            android:exported="false">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>